<!DOCTYPE html>

<html>

<head>

<title>Inscription Prestataire</title>

<style>

body{
font-family:Arial;
background:#f1f5f9;
display:flex;
justify-content:center;
padding-top:50px;
}


.form{

background:white;
padding:40px;
width:400px;
border-radius:20px;
box-shadow:0 10px 30px #ccc;

}


input,textarea{

width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;
border:1px solid #ccc;

}


button{

width:100%;
padding:12px;
background:#16a34a;
color:white;
border:none;
border-radius:20px;

}

</style>

</head>


<body>


<div class="form">


<h2>Inscription Prestataire</h2>


<form>


<input placeholder="Nom complet">

<input placeholder="Email">


<input placeholder="Téléphone">


<input placeholder="Métier">


<textarea placeholder="Décrivez vos services"></textarea>


<input type="password" placeholder="Mot de passe">


<button>
Créer mon compte
</button>


</form>


</div>


</body>

</html>